<mat-dialog-content class="container-fluid p-0">
    <mat-toolbar class="p-2">
        <span class="fs-4 fw-bold text-danger">Deposit Money</span>
        <span class="spacer"></span>
        <span mat-dialog-close="true">
            <button mat-dialog-close="close" matButton><mat-icon>close</mat-icon></button>
        </span>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <form [formGroup]="depositForm">
        <div class="container mb-3 mt-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Enter the amount</mat-label>
                <input type="number" formControlName="amount" matInput>
                <mat-error>
                    @if (depositForm.controls.amount.touched && depositForm.controls.amount.invalid) {
                        @if (depositForm.controls.amount.errors?.required) {
                            <span>Amount is required</span>
                        }
                        @if (depositForm.controls.amount.errors?.pattern) {
                            <span>Enter valid number</span>
                        }
                    }
                </mat-error>
            </mat-form-field>
        </div>
    </form>
    <div class="d-flex justify-content-center mb-3">
        <button (click)="creditMoney()" mat-flat-button [disabled]="!(depositForm.dirty && depositForm.valid)">Deposit</button>
    </div>
</mat-dialog-content>